.table {
	width: 100%;
	font-size: 1.5rem;
}

.tableHeader {
	&__cell {
		position: relative;
		border: 0.2rem solid #444;
	}

	&__cellSort {
		position: absolute;
		top: calc(50% - 0.75rem);
		right: 10%;
		width: 1.5rem;
		cursor: pointer;
		&_decrease {
			transform: rotate(180deg);
		}
	}
}