.deliveryBox {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	&__box {
		width: 15rem;
		padding: 0.5rem;
		border: 0.1rem solid #444;
	}

	&__fieldsetAccent {
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 0.1rem solid #444;
	}
}
